{{> header }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id='view'>{{{ markup }}}</div>
                </div>
            </div>
        </div>
        <script id="initial-state" type="application/json">{{{state}}}</script>
{{> footer }}
